   <div class="container">
        <div class="d-flex flex-row flex-nowrap text-center g-4  " >
          
          
          <div class="col-md-4 p-5 px-1" style="margin: auto">

                  <div class="card image_card2 col-md-12 border-0 shadow stock_card"  style="height: 160px; overflow: hidden">
                <img id = "card_imagee" src="{{ article.urlToImage }}" class="card-img-top" alt="...">
                 <div class="card-body">
                 <h4 class="card-title">{{article.title}}</h4>
                 <p class="card-text" id = "card_textt"></p>
                    <a href="#" class="stretched-link"></a>
            </div>
          </div>
        </div>

         <div class="col-md-4 p-5 px-1" style="margin: auto">

                  <div class="card image_card2 col-md-12 border-0 shadow stock_card"  style="height: 160px;  overflow: hidden">
                <img id = "card_imagee" src="{{ article.urlToImage }}" class="card-img-top" alt="...">
                 <div class="card-body">
                 <h4 class="card-title">{{article.title}}</h4>
                 <p class="card-text" id = "card_textt"></p>
                    <a href="#" class="stretched-link"></a>
            </div>
          </div>
        </div>
             <div class="col-md-4 p-5 px-1" style="margin: auto">

                  <div class="card image_card2 col-md-12 border-0 shadow stock_card"  style="height: 160px;  overflow: hidden">
                <img id = "card_imagee" src="{{ article.urlToImage }}" class="card-img-top" alt="...">
                 <div class="card-body">
                 <h4 class="card-title">{{article.title}}</h4>
                 <p class="card-text" id = "card_textt"></p>
                    <a href="#" class="stretched-link"></a>
            </div>
          </div>
        </div>
            
        </div>
</div>