   <div class="container">
        <div class="row text-center g-4 " >
          
          
          <div class="col-md-12 p-5 px-1">
   <div class="card image_card2 col-md-12 border-0 shadow stock_card">
                <img id = "card_iamgee" src="{{article.urlToImage}}" class="card-img-top" alt="...">
                 <div class="card-body">
                 <h4 class="card-title">{{article.title}}</h4>
                 <p class="card-text" id = "card_textt">{{article.description}}</p>
                    <a href="{{ article.url}}" class="stretched-link"></a>
  </div>
</div>
</div>
</div>
</div>