{% load my_filters %}
    {% for data in datas %}
    <div class="col-sm-6 col-md-4 col-lg-3">
        <div class="card card-block">

        <div class="card-body">
                <h4 class="card-title">{{data.name}}</h4>
                {% if data.pChange|is_negative %}
                <p class="card-text" id = "card_textt"> {{data.lastPrice}}  <i style="font-size: 23px; color: red; position: absolute; margin-right:9px; right:0;" class="fas fa-sort-down" aria-hidden="true"></i></p>
                  <p id="change" style="color:red">212(73.453%%)</p>
                  
                  {% else %}
                  <p class="card-text" id = "card_textt"> {{data.lastPrice}}  <i style="font-size: 23px; color: green; position: absolute; margin-right:9px; right:0;" class="fa fa-sort-asc" aria-hidden="true"></i></p>
              <p id="change" style="color:green">{{data.change}}({{data.pChange}}%)</p>
 
                  {% endif %} 
            </div>
        
        </div>
    </div>
      {% endfor %}
    