 {% extends 'base.html' %} {% load static %} {% load my_filters %}
{% block css %}
<link href="{% static 'css/news.css' %}" rel="stylesheet" />
<link href="{% static 'css/animations.css' %}" rel="stylesheet" />
{% endblock %}
{% block content %}

<!-- Navbar -->
<!-- Navbar -->
<div class="news_page relative">
    <nav class="navbar navbar-expand-lg bg-light navbar-light py-3 fixed-top shadow">
      <div class="container">
        <a href="#" class="navbar-brand">StockExchange</a>

        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navmenu"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
       
        <div class="collapse navbar-collapse" id="navmenu">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a href="{% url 'homepage' %}" class="nav-link">Home</a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link">Contacts</a>
            </li>
            <li class="nav-item">
              <a href="{% url 'signup' %}" class="nav-link">Membership</a>
            </li>
           
            
          </ul>
        </div>
      </div>
    </nav>
    <!-- Showcase -->
    



<div class="container table_container mt-4">

<h2>NSE Indices</h2>
    <div class="row flex-row flex-nowrap" style ="overflow-x: scroll; margin-right:5px" id="nse_div">
        



      <!----------------------------Table-------------------------->
      <table class="custom-table">
        <thead>
            <tr>
                <th>Index</th>
                <th>Last</th>
                <th>Variation</th>
                <th>PercentaChange</th>
                <th>Open</th>
                <th>High</th>
                <th>Low</th>
                
            </tr>
        </thead>
        <tbody>
          {% for data in datum.data %}
            
            <tr class="toggler toggler1">
                <td >{{data.index}}</td>
                <td>{{data.last}}</td>
                <td>{{data.variation}}</td>
                <td>{{data.percentChange}}</td>
                <td>{{data.open}}</td>
                <td>{{data.high}}</td>
                <td>{{data.low}}</td>

                
            </tr>
            {% endfor %}

            </tbody>
            </table>
      <!---------------------------------Table------------------------------>






        {% for data in datum.data %}
        <div class="col-12 col-sm-6 col-md-4 col-lg-3" >
            <div class="card card-block ">
              <p>{{data}}</p>
            <div class="card-body">
                    <h4 class="card-title">{{data.name}}</h4>
                    {% if data.change < 0 %}
                    <p class="card-text" id = "card_textt"> {{data.lastPrice}}  <i style="font-size: 23px; color: red; position: absolute; margin-right:9px; right:0;" class="fa fa-sort-asc" aria-hidden="true"></i></p>
                      <p id="change" style="color:red">212(73.453%%)</p>
                      {% else %}
                      <p class="card-text" id = "card_textt"> {{data.lastPrice}}  <i style="font-size: 23px; color: green; position: absolute; margin-right:9px; right:0;" class="fa fa-sort-asc" aria-hidden="true"></i></p>
                  <p id="change" style="color:green">{{data.change}}({{data.pChange}}%)</p>
                      {% endif %}
                </div>
            
            </div>
            </div>
          {% endfor %}
          <div class="col-12 col-sm-6 col-md-4 col-lg-3" >
            <div class="card card-block border-0 flex-fill">

            <div class="card-body">
              <div class="animations_wrapper">
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="shadow"></div>
                <div class="shadow"></div>
                <div class="shadow"></div>
                
            </div>
                </div>
            
            </div>
            </div>
          
        
        
    </div>


   </div>
   </div>



<!-- Footer -->
    
</div>
<footer class="p-5 bg-dark text-white text-center footerr">
      <div class="container">
        <p class="lead">Copyright &copy; Buy-Pal</p>

        <a href="#" class="position-absolute bottom-0 end-0 p-5">
          <i class="bi bi-arrow-up-circle h1"></i>
        </a>
      </div>
    </footer>





    <script>
      $(document).redy(function(){

    function sendRequest(){
          $.ajax({
            type: "GET",
            url: "{% url 'get-nse' %}",
            data: {
                
                'csrfmiddlewaretoken' : $("input[name=csrfmiddlewaretoken]").val()
            },
	   //success: function(data) { // on success..
              //  console.log(data)
              
           // }
            success: searchSuccess,
            dataType: 'html'
        });
    };
    sendRequest();
     // Call AJAX every 5 mins (in milliseconds)
});

function searchSuccess(data, textStatus, jqXHR)
{
   $('#nse_div').html(data)
 
}
const cardsContainer = document.getElementById('cards_row');
const containerScrollWidth = cardsContainer.scrollWidth;

window.addEventListener('load', () => {
  self.setInterval(() => {
    if (cardsContainer.scrollLeft !== containerScrollWidth) {
      cardsContainer.scrollTo(cardsContainer.scrollLeft + 431, 0);
    }
  }, 7200);
});
</script>    

<script>
        


</script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>

{% endblock %}

 
  
  
  
  
 