body::before {
    display: block;
    content: "";
    height: 10px;
  }
  
  .enrol {
    border-radius: 0;
  }




//-------------------------Navigation bar styles------------------------------------------------------------

  /* Add a black background color to the top navigation */
  .topnav {
    background-color: #ffffff;
    overflow: hidden;
    padding-left: 12px;
    display: flex;
  
 
  }


/* Style the links inside the navigation bar */
.navlinks a {
 
  float: left;
  display: block;
  color: #3f3b3b;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.navlinks a:hover {
  border-bottom: 3px solid rgb(248, 56, 8);
  
  color: rgb(0, 0, 0);
}


/* Add an active class to highlight the current page */
.topnav a.active {
  
  color: rgb(22, 25, 207);
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}

.logoIcon{
  align-items: center;
}
.logoIcon a{
  margin-right: 152px;
  margin-left: 40px;
  color: black;
 
}
.logoIcon a:hover{
     border-bottom: none ;
}

/* When the screen is less than 750 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 750px) {
  .navlinks a {display: none;}
  .topnav .username{display:none;}
  .topnav a.icon {
   
    display: block;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 750px) {
  .navlinks.responsive {
    
    position: relative;
    
   
  }
  .topnav.responsive a.icon {
    position: absolute;
    left: 0;
    top: 0;
    margin-bottom: 15px;
    font-weight: lighter;
    color: navy;
  }

  
  .user-wrapper
  {
    top:0;
    position: absolute;
    right: 0;
    margin-top:12px;
  }

  .logoIcon{
    display: none;
  }

  
  
  
  .navlinks.topnav.responsive
  {
    margin-top: 15px;
    top: 80px !important;
    position: relative;
    display: block;
    
  }



.userdash_belownav {
  
  height: auto;
}

.card
{
  width: 100%;
  margin-right: 12px;
  margin-left: 12px;
}
.navlinks.responsive a {
    float: none;
    display: block;
    text-align: left;
    text-transform: uppercase;
    border-bottom: 0px solid white;
    font-size: 15px;

    &:first-child{
      margin-top: 34px;
   
    }
  }


  
    
  

  .navlinks.responsive a:hover {  
    border-bottom: none;
    background-color: aquamarine;
  }

  .upper_image
  {
    display: none !important;
  }

}


//---------------------tablet sizze------------------------
@media screen and (max-width: 1100px) {
  

  .topnav a {
  
    font-size: 12px;
    padding: 10px 10px;
  }

  .topnav a:not(:first-child) {
  
    margin-left: 4px;
  }

  .topnav.responsive a:hover {  
    border-bottom: none;
    background-color: aquamarine;
  }

  .logo-icon a{
    margin-right: 82px;
  }
}


//-------------------------------tablet portrait-----------------------------

//-----------------------------Navigation bar ----------------------------------------------------------------------

  
  .belownav {
    //background-image: url("../images/rand5.jpg");
    background-color: $basic;
    background-blend-mode: multiply;
    background-size: 100% 100%;
    height: auto;
    background-repeat: no-repeat;
  
    padding-bottom: 40px;


       clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%);
      
       //change display on mobile
       @include responsive($mobile_size) {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        
    }
  }
  
  #ovesrlay {
    position: fixed; /* Sit on top of the page content */
  
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
  }
  
  .cont {
    z-index: 3;
  }
  
  .btn-signup, .btn-login {
    width: 23%;
    margin-right: 5px;
    color: white;
    border-radius: 0;
    margin-bottom: 2rem;
  }
  
  .card_section {
    margin-top: 1;
  }
  
  .card-image-top {
    width: 100%;
    height: 25vw;
    object-fit: cover;
  }
  
  .text_content h1 {
    font-size: 40px;
    color:rgb(58, 56, 56);
  }
  
  .text_content p {
    font-size: 28px;
    color:rgb(70, 65, 65);
  }

  #navmenu li
  {
    @include responsive($mobile_size) {
      font-size: 50;
      
  }
  }
  
  #navmenu a:hover {
    box-shadow: inset 0 -3px 0 0 orange;
  }
  
  @media only screen and (max-width: 900px) {
  }
  
  @media only screen and (max-width: 600px) {
    .card_section {
      margin-top: -2rem;
    }
  
    .btn-signup {
      margin-right: 2px;
      color: white;
      border-radius: 0;
      margin-bottom: 2rem;
    }
  }
  




.btn-login, .btn-signup {
  @include responsive($mobile_size) {
      width: 100%;
      
  }

  
}

.hide_on_mobile {
  @include responsive($tablet_size) {
      display: none;
      
  }

  
}

.upper_image
  {
    overflow: visible;
  }

  .hide
  {
    display: none;
  }


  .content_cards1
  {
    margin: auto;
  }


  .picsection1
  {
    background-image: url("../images/media/crypto.jpg");
    background-size: 100% 100%;
    height: 20em;
    background-repeat: no-repeat;
  
    padding-bottom: 40px;
  }

  .text_first_content
  {
    border-left: orange solid 15px;
    padding-left: 19px;

    h3{
      color: orange !important;
      font-size:100px;

    }
    p{
      font-size: 40px;
    }
  }


  .image_card2 {
    flex-direction: row;
    height: auto;

    img {
      width: 45%;
    }
    

    @include responsive($mobile_size) {
      flex-direction: column;

      img {
        width: 100%;
      }
  
  }
}

  
  