body::before {
    display: block;
    content: "";
    height: 60px;
  }
  
  .enrol {
    border-radius: 0;
  }
  
  .belownav {
    //background-image: url("../images/rand5.jpg");
    background-color: rgb(234, 249, 250);
    background-blend-mode: multiply;
    background-size: 100% 100%;
    height: auto;
    background-repeat: no-repeat;
  
    padding-bottom: 40px;


       clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%);
      
       //change display on mobile
       @include responsive($mobile_size) {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        
    }
  }
  
  #ovesrlay {
    position: fixed; /* Sit on top of the page content */
  
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
  }
  
  .cont {
    z-index: 3;
  }
  
  .btn-signup, .btn-login {
    width: 23%;
    margin-right: 5px;
    color: white;
    border-radius: 0;
    margin-bottom: 2rem;
  }
  
  .card_section {
    margin-top: 1;
  }
  
  .card-image-top {
    width: 100%;
    height: 25vw;
    object-fit: cover;
  }
  
  .text_content h1 {
    font-size: 40px;
    color:rgb(58, 56, 56);
  }
  
  .text_content p {
    font-size: 28px;
    color:rgb(70, 65, 65);
  }

  #navmenu li
  {
    @include responsive($mobile_size) {
      font-size: 50;
      
  }
  }
  
  #navmenu a:hover {
    box-shadow: inset 0 -3px 0 0 orange;
  }
  
  @media only screen and (max-width: 900px) {
  }
  
  @media only screen and (max-width: 600px) {
    .card_section {
      margin-top: -2rem;
    }
  
    .btn-signup {
      margin-right: 2px;
      color: white;
      border-radius: 0;
      margin-bottom: 2rem;
    }
  }
  




.btn-login, .btn-signup {
  @include responsive($mobile_size) {
      width: 100%;
      
  }

  
}

.hide_on_mobile {
  @include responsive($tablet_size) {
      display: none;
      
  }

  
}

.upper_image
  {
    overflow: visible;
  }

  .hide
  {
    display: none;
  }


  .content_cards1
  {
    margin: auto;
  }


  .picsection1
  {
    background-image: url("../images/crypto.jpg");
    background-size: 100% 100%;
    height: 20em;
    background-repeat: no-repeat;
  
    padding-bottom: 40px;
  }

  .text_first_content
  {
    border-left: orange solid 15px;
    padding-left: 19px;

    h3{
      color: orange !important;
      font-size:100px;

    }
    p{
      font-size: 40px;
    }
  }


  .image_card2 {
    flex-direction: row;
    height: auto;

    img {
      width: 45%;
    }
    

    @include responsive($mobile_size) {
      flex-direction: column;

      img {
        width: 100%;
      }
  
  }
}

  
  