//Screen sizes
$mobile_size:  620px;
$tablet_size: 1200px;
$pc_size: 1281px;
$ipad_size:  1024px;
$large_screen_size :1824px;
$orangered: rgb(247, 76, 8);
$cards-color: rgb(224, 7, 116);

//colors
$plain:#fff;
$primary:rgb(11, 107, 185);
$darkback:rgb(32, 4, 80);

$secondary: rgb(234, 249, 250);




